.App {
  text-align: center;
}

.App-logo {
  animation: svg-spin infinite 15s ease-in;
  height: 40vmin;
  pointer-events: none;
}

.body {
  height: 100%;
}

.header {
  padding: 5%;
  background-color: #282c34;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  padding: 10px 0px 0px 10px;
}

.App-link {
  color: #61dafb;
}

.register-greeting {
  text-align: center;
}

Form {
  padding: 30px;
}

label{
  font-size: 70%;
  text-align: left;
}

.home-content {
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin: auto;
  height: 400px;
  width: 80%;
}

#todo {
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin: auto;
  width: 60%;
}

#todo span {
  margin: auto;
  text-align: center;
}

.home-content h2 {
  padding-bottom: 20px;
}

.home-content span {
  margin: auto;
  text-align: center;
}

.text-strike {
  text-decoration: line-through;
}

.text-strike.list-group-item:focus {
  /* override bootstrap button focus text decoration if item is done */
  text-decoration: line-through; 
}

.books-list-content {
  padding: 30px 120px; 
}

.book-description {
  text-align: justify;
}

.no-book-cover
{
  font-style: italic;
  width: 100px;
  height: 190px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin: auto;
  background-color: lightgray;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-col-1 {
  grid-column: 1;
}

.grid-col-2 {
  grid-column: 2;
}

@keyframes svg-spin {
  from {
    margin-left: 0%;
    width: 50%;
    transform: rotate(0deg);
  }
  to {
    margin-left: 50%;
    width: 0%;
    transform: rotate(360deg);
  }
}
